<div class="py-6 px-3 w-full bg-gray-100 rounded-lg animate-pulse">
<div class="border border-gray-200 rounded-lg overflow-hidden">
    {{'product-1'| placeholder_svg_tag: 'w-full h-80 object-cover bg-gray-200'}}

    <div class="flex flex-col p-4">
        <span class="text-sm text-gray-500">Vendor</span>
<span class="uppercase text-gray-500 text-lg">Place Holder Title</span>
<span class="text-gray-500 text-sm">Price</span>
    </div>
</div>
</div>